<!-- header -->
<%- include('include/header') %>
<!-- header -->

<div class="container">
  <div class="chat__section">
    <div class="chat__navbar">Chat.</div>

    <div class="chat__content">
      <div class="chats">
        <!-- <div class="chat ingoing"></div> -->
      </div>
    </div>
    <!-- form input content -->
    <div class="input__form_container">
      <form class="input__form">
        <input placeholder="Type here.." type="text" class="input__style" />
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- footer -->
<%- include('include/footer') %>
<!-- footer -->
