<div class="chat__user_content">
  <div class="chat">
    <i class="fas fa-user user__icon_style"></i>
    <div class="message">Hi</div>
  </div>

  <div class="user__name_content">
    <b class="user__name">anonymous</b>
  </div>
</div>
